
* {
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

#main {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: repeating-radial-gradient(#111111,20%, #000);
    position: relative;
    z-index: 1;
}

#main .image {
    max-width: 100%;
    height: auto;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: contain;
}

#main .image img {
    height: auto;
    max-width: 100%;
}

section .container .navbar {
    overflow: hidden;
    position: relative;
    width: 100%;
}

nav .container .collapse  {
    width: 100%;
}

nav .container .collapse .navbar-nav  {
    margin-left: auto;
    margin-top: 35px;
}

nav .container .collapse .navbar-nav .nav-item {
    padding: 12px;
}

nav .container .collapse .navbar-nav .nav-item a {

    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: .8s;
    padding: auto;
}

nav .container .collapse ul li:not(:first-child) a:hover, nav .container .collapse ul li:not(:first-child) a:focus {

    border-bottom: 2px solid #fff;
}

nav .container .collapse .navbar-nav .nav-item #active {

    border-bottom: 2px solid #fff;
}

.navbar .container .btn {

    background: #fff;;
    color: #000;
    border: 2px solid #fff;
    padding: 9px 20px;
    height: auto;
    border-radius: 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    margin-left: auto;
    margin-top: 10px;
}

.navbar .container .btn:hover {

    border: 1px solid #fff;
    color: black;
    background: #e7e7e7;
    transition: .8s;
}

#about-us .row {
    background: #fff;
}

#discover {

    margin-top: 0;
    height: auto;
    background: repeating-radial-gradient(#111111,20%, #000);
}

#discover .container {
    padding: 50px
}

#discover .container .row {
    margin-top: 50px;
}

#features {
    height: 100vh;
    background: #fff;
}

#features .container {
    padding-top: 15px;
}

#features .container input {

   height: 50px;
}

#signup {
    height: 50vh;
    margin-top: -50px;
}