
* {
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: URL('../images/bg-mirror.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width:100%;
    height: 100vh;
}

h2 {
    color: #fff;
}

header section h1, p{
    color: #fff;
}

.container .navbar {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.navbar .container .navbar-brand {
    color: #fff;
    font-weight: 500;
}

nav .container .collapse .navbar-nav  {
    margin-left: auto;
    margin-top: 35px;
}

nav .container .collapse .navbar-nav .nav-item {
    padding: 12px;
}

nav .container .collapse .navbar-nav .nav-item a {

    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: .5s;
    padding: auto;
}
nav .container .collapse ul li:not(:first-child) a:hover, nav .container .collapse ul li:not(:first-child) a:focus {

    border-bottom: 2px solid #fff;
}

nav .container .collapse .navbar-nav .nav-item #active {

    border-bottom: 2px solid #fff;
}

.navbar .container .btn {

    background: #fff;;
    color: #000;
    border: 2px solid #fff;
    padding: 9px 20px;
    height: auto;
    border-radius: 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    margin-left: auto;
    margin-top: 10px;
}

.navbar .container .btn:hover {

    border: 1px solid #fff;
    color: black;
    background: #e7e7e7;
    transition: .5s;
}

.contact {
    margin-top: 50px;
    height: 100vh;
}
.row {
    padding: 5px;
}

.row label, .contact h1 {
    color: #fff;
}

#about-us {
    height: 65vh;
    margin-top: 110px;
}

#about-us .row {
    background: #fff;
}

#about-us p {
    color: #000;
}

#pricing {
    height: 100vh;
}

#pricing .card-body {
    width: 350px;
    height: 335px;
}

#pricing p {
    color: #000;
}

#discover {

    margin-top: 0;
    height: auto;
    background: #000;
}

#discover h1, #discover h2, #discover h1, #discover p {
    
    color: #fff;
}

#discover .container {
    padding: 50px
}

#discover .container .row {
    margin-top: 50px;
}

#features {
    height: auto;
    background: #fff;
}

#features .container {
    padding-top: 15px;
}

#features p {
    color:#000;
}

#signup {
    height: 50vh;
    margin-top: -50px;
}

#signup p {
    color: #000;
}