
* {
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: URL('../images/bg-mirror.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width:100%;
    height: 100vh;
}

h2 {
    color: #fff;
}

header section h1, p{
    color: #fff;
}

section .container .navbar .navbar-brand {
    color: #fff;
    font-weight: 500;
}

nav ul {
    margin-top: 20px;
}

nav ul li {

    list-style: none;
    display: inline-block;
    margin-left: 25px;
}

nav ul li.active a {

    border-bottom: 2px solid white;
}

nav ul li a {

    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: .4s;
}

nav ul li:not(:last-child) a:hover, nav ul li:not(:last-child) a:focus {

    border-bottom: 2px solid #fff;
}

nav ul li.active a {

    border-bottom: 2px solid #fff;
}

nav ul li.btn a {

    background: #fff;;
    color: #000;
    border: 2px solid #fff;
    padding: 9px 20px;
    height: 12px;
    border-radius: 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    margin-left: 150px;
}

nav ul li.btn:hover a {

    border: 1px solid #fff;
    color: black;
    background: #e7e7e7;
    transition: .4s;
}

.contact {
    margin-top: 20px;
}
.row {
    padding: 5px;
}

.row label, .contact h1 {
    color: #fff;
}

#about-us {
    height: 65vh;
}

#about-us .row {
    background: #fff;
}

#about-us p {
    color: #000;
}

#pricing {
    height: 100vh;
}

#pricing .card-body {
    width: 350px;
    height: 335px;
}

#pricing p {
    color: #000;
}